<!DOCTYPE html>
<html lang="en">
 
<head>
		<title>Feature Request Form</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="../static/css/datepicker.css">
		<link rel="stylesheet" href="../static/css/styles.css">
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script type='text/javascript' src='../static/js/knockout-3.3.0.js'></script>
		<script src="../static/js/bootstrap-datepicker.js"></script>
		<script src="../static/js/validator.js"></script>
		<script type="text/javascript">
						$(document).ready(function () {
								$('#inputTargetDate').datepicker({
										format: "yyyy-mm-dd"
								});
						});
		</script>


</head>
 
<body>
	<div class="container-fluid">
		<div class="header">
			<h3 class="text-muted">Feature Request Form</h3>
		</div>
		<form id="featureRequestForm" data-toggle="validator" role="form" method="post" action="{{ url_for('submit') }}">
		<div class="col-md-8">
						<div class="form-group has-feedback">
								<label for="inputTitle">Title</label>
								<input data-bind="value: title" type="text" class="form-control" id="inputTitle" name="inputTitle" placeholder="A short, descriptive name of the feature request." required/>
								<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
						</div>

						<div class="form-group has-feedback">
								<label for="inputDescription">Description</label>
								<textarea data-bind="value: description" class="form-control" id="inputDescription" name="inputDescription" rows="5" placeholder="A long description of the feature request." required></textarea>
								<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
						</div>

						<div class="form-group has-feedback">
								<label for="inputClient">Client</label>
								<select data-bind="value: client, options: clientOptions" class="form-control" id="inputClient" name="inputClient">
										<!-- <option value="Client A">Client A</option>
										<option value="Client B">Client B</option>
										<option value="Client C">Client C</option> -->
								</select>
								<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
						</div>

						<div class="form-group has-feedback">
								<label for="inputPriority">Priority</label>
								<input data-bind="value: priority" type="number" class="form-control" id="inputPriority" name="inputPriority" min="1" step="1" data-bind="value:inputPriority" required/>
								<span class="glyphicon form-control-feedback" aria-hidden="true"></span>

								<div class="alert alert-warning" role="alert" id="priorityConflict" style="display: none;"></div>
								
								
						</div>

						<div class="form-group has-feedback">
								<label for="inputTargetDate">Target Date</label>
								<input data-bind="value: targetDate" type="text" class="form-control" id="inputTargetDate" name="inputTargetDate" placeholder="The date that the client is hoping to have the feature." bootstrap-datepicker data-date-start-date="0d" data-date-orientation="auto" required/>
								<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
						</div>
						<div class="form-group">
								<label for="inputTicketUrl">Ticket URL</label>
								<input data-bind="value: ticketUrl" type="text" class="form-control" id="inputTicketUrl" name="inputTicketUrl" placeholder="" type="url">
								
						</div>
						<div class="form-group has-feedback">
								<label for="inputProductArea">Product Area</label>
								<select data-bind="value: productArea, options: productAreaOptions" class="form-control" id="inputProductArea" name="inputProductArea">
										<!-- <option value="Policies">Policies</option>
										<option value="Billing">Billing</option>
										<option value="Claims">Claims</option>
										<option value="Reports">Reports</option> -->
								</select>
								<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
						</div>
						
		</div>

		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">PREVIEW</h4>
				</div>
				<div class="panel-body">
					<p><strong>Title: </strong><span data-bind="text: title"></span></p>
					<p><strong>Description: </strong><span data-bind="text: description"></span></p>
					<p><strong>Client: </strong><span data-bind="text: client"></span></p>
					<p><strong>Priority: </strong><span data-bind="text: priority"></span></p>
					<p><strong>Target Date: </strong><span data-bind="text: targetDate"></span></p>
					<p id="outputTicketUrl"><strong>Ticket URL: </strong><span data-bind="text: ticketUrl"></span></p>
					<p><strong>Product Area: </strong><span data-bind="text: productArea"></span></p>
				</div>
			</div>
			<button type="submit" class="btn btn-primary center-block" id="btnSubmit" />Submit</button>
		</div>
</div>
			<!-- <footer class="footer">
					<p>&copy; Company 2015</p>
			</footer> -->
	</form>
	</div>
</body>
<script type="text/javascript">
	var viewModel = {
		title : ko.observable(''),
		description : ko.observable(''),
		client: ko.observable(''),
		clientOptions: ko.observableArray(['Client A', 'Client B', 'Client C']),
		priority: ko.observable(''),
		targetDate: ko.observable(''),
		ticketUrl: ko.observable(''),
		productArea: ko.observable(''),
		productAreaOptions: ko.observableArray(['Policies', 'Billing', 'Claims', 'Reports'])
	};
	ko.applyBindings(viewModel);
</script>
<script type="text/javascript">
	$('#inputPriority').on('change', function() {
	    $.ajax({
	    	url: '/check',
	    	data: $('form').serialize(),
	    	type: 'POST',
	    	success: function(response) {
	    		if(JSON.parse(response)['exists'] > 0){
	    			$('#priorityConflict').html("This client already has a feature request <strong>(" + JSON.parse(response)['title']+ ")</strong> with this priority. Submitting this would mean <strong>"+ JSON.parse(response)['title']+ "</strong> and other affected feature requests will be reordered.")
	    			$('#priorityConflict').show()
	    		}
	    		else {
	    			$('#priorityConflict').hide()
	    		}
	    	}
	    })
	});
</script>
</html>